/* Global Styles */

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */

@import url(https://fonts.googleapis.com/css?family=Nunito+Sans:200,200italic,300,300italic,regular,italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
  font-family: "Nunito Sans", sans-serif;
  color: white;
}

html {
  background-color: #201e20;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

.bg-default {
  background-color: #201e20;
}

.btn {
  background-color: #40445a;
  transition: 0.3s;
  padding: 10px;
  border-radius: 5px;
}
.btn:hover {
  background-color: #5d6181;
  transform: scale(1.1);
}
section {
  border-top: 2px gray dashed;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
@media screen and (max-width: 1024px) {
  section {
    height: 100%;
  }
  .about-me-text {
    text-align: center;
  }
  .socials {
    text-align: center;
  }
}

/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #ffffff #0d0c0d;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 4px;
}

*::-webkit-scrollbar-track {
  background: #201e20;
}

*::-webkit-scrollbar-thumb {
  background-color: #ffffff;
  border-radius: 15px;
  border: 3px solid #ffffff;
}

/* Form Control */

.form-control {
  background-color: #373a4b;
  color: white;
  padding: 10px;
  border-radius: 5px;
  transition: 0.5s;
  font-size: 21px;
  display: block;
  width: 25em;
  margin: 10px 0;
  text-align: center;
}
.form-control:focus {
  outline: none;
  background-color: #535770;
  transform: scale(1.05);
}
.react-tag-input {
  background: #373a4b !important;
  color: #333;
  border: 1px solid #373a4b !important;
}
.react-tag-input__input {
  background: #373a4b !important;
  color: white !important;
}
.react-tag-input__input::placeholder,
.react-tag-input__input:-moz-placeholder,
.react-tag-input__input:-ms-input-placeholder,
.react-tag-input__input::-moz-placeholder,
.react-tag-input__input::-webkit-input-placeholder {
  color: #333; /* Input placeholder */
}
.react-tag-input__tag {
  background: #252733 !important;
}
.react-tag-input__tag__remove {
  background: #0c0d11 !important;
}
.react-tag-input__tag__remove:before,
.react-tag-input__tag__remove:after {
  background: rgb(87, 86, 86); /* X icon in remove button */
}
.submit-button-form {
  display: block;
  width: 100%;
}
.btn-logout {
  background-color: rgb(255, 49, 49);
}
.btn-logout:hover {
  background-color: rgb(253, 32, 32);
}
.scale-up {
  transition: 0.2s;
}
.scale-up:hover {
  transform: scale(1.2);
}
input[type="file"] {
  display: none;
}
.custom-file-upload {
  background-color: #373a4b;
  color: white;
  padding: 10px;
  border-radius: 5px;
  transition: 0.5s;
  font-size: 21px;
  display: block;
  width: 25em;
  margin: 10px 0;
  text-align: center;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.loader {
  border: 16px solid #f3f3f3;
  border-radius: 50%;
  border-top: 16px solid #ffffff;
  width: 120px;
  height: 120px;
  -webkit-animation: spin 2s linear infinite; /* Safari */
  animation: spin 2s linear infinite;
  margin: 50px auto;
}

/* Safari */
@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.filter {
  display: block;
  margin: 0 auto;
}
